extends layout

block content
    div.topButtonContainer
        span.topButton.icon-geomicon-253 *
        span.topButton *
    h1.title MARS WATCHTOWER
    div.currentDate
        span.month
        span.day
        span.year
    div.marsDate
    